*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --Pcolor:#9F9F9F;
    
}
header{
    text-align: right;
    padding: 2.9%;
}
.nav{
    display: inline-block;
    margin-right: 5%;
    width: 520px;
}
.nav1{
    display: inline-block;
    margin-right: 5%;
    width: 400px;
}
.nav li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav1 li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav a, .nav1 a{
    transition: all .4s;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
header a:hover{
    color: rgb(118, 67, 67);
}
aside{
    width: 93%;
    height: 340px;
    background-image: url(./cartmedia/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
aside a{
    color: black;
    text-decoration: none;
}
aside span{
    font-weight: 600;
}
.text1{
    position: absolute;
    left: 600px;
    top: 230px;
}
.text2{
    position: absolute;
    left: 600px;
    top: 270px;
}
.Password{
    margin-top: 70px;
    margin-left: 70px;
}
.Password h3{
    font-size: 15px;
    margin-top: 30px;
}
.Password input{
    width: 380px;
    height: 56px;
    border-radius: 10px;
    margin-top: 30px;
}
.Password button{
    width: 180px;
    height: 56px;
    border-radius: 15px;
}
.Log{
    margin-top: -400px;
    margin-left: 800px;
}
.Log h3{
    font-size: 15px;
    margin-top: 30px;
}
.Log p{
    font-size: 15px;
    margin-top: 30px;
}
.Log input{
    width: 380px;
    height: 56px;
    border-radius: 10px;
    margin-top: 30px;
}
.Log button{
    width: 180px;
    height: 56px;
    border-radius: 15px;
    margin-top: 30px;
}
.services{
    width: 100%;
    height: 300px;
    background: #FAF4F4;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_container{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

}
.free, .return, .payment{
    margin: 0 10%;
}
.services_container h2{
    font-size: 35px;
    font-weight: 500;
}
.services_container p{
    line-height: 30px;
    font-size: 20px;
}
footer{
    width: 80%;
   
    height: 300px;
    margin: 2% 0;
    margin-left: 10%;
}
.footer{
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: 510px 200px 200px 350px;
    justify-content: center;
}
.footer li{
    list-style: none;
    line-height: 60px;
}
.footer li a{
    text-decoration: none;
    color: black;
    transition: all .4s;
}
.footer li a:hover{
color: red;
}
.info, .links, .help, .newsletter{
    margin-right: 20%;    
}
.info{
    display: flex;
    align-items: center;
    line-height: 26px;
}
.decaration{
    text-decoration: solid;
}

.p_teg{

    margin: 60px 10%;
}

.p{
    color: var(--Pcolor);
}