*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --Pcolor:#9F9F9F;
    
}
header{
    text-align: right;
    padding: 2.9%;
}
.nav{
    display: inline-block;
    margin-right: 5%;
    width: 520px;
}
.nav1{
    display: inline-block;
    margin-right: 5%;
    width: 400px;
}
.nav li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav1 li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav a, .nav1 a{
    transition: all .4s;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
header a:hover{
    color: red;
}
aside{
    width: 100%;
    height: 340px;
    background-image: url(./cartmedia/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside a{
    color: black;
    text-decoration: none;
}
aside span{
    font-weight: 600;
}
.aside_main{
    text-align: center;
}
