

/* .container{
    width: 1350px;
    margin:auto 0; 
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --Pcolor:#9F9F9F;
    
}
header{
    text-align: right;
    padding: 2.9%;
}
.nav{
    display: inline-block;
    margin-right: 5%;
    width: 520px;
}
.nav1{
    display: inline-block;
    margin-right: 5%;
    width: 400px;
}
.nav li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav1 li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav a, .nav1 a{
    transition: all .4s;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
header a:hover{
    color: red;
}
.aside{
    width: 100%;
    height: 340px;
    background-image: url(./imges_for-home/Rectangle\ 1.png)
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yak{
    position: relative;
    top: -180px;
}
aside a{
    color: black;
    text-decoration: none;
}
aside span{
    font-weight: 600;
}
.aside_main{
    text-align: center;
}
.checkout_head{
    position: relative;
    text-align: center;
    top: -260px;
}
.checkout_headimg{
    position: relative;
    top: -230px;
    right: -675px; 
} 
.content_checkout{
    display: flex;
    justify-content: space-around;
    margin-bottom:-190px;
}
.left_header{
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 45px;
    padding-bottom:50px;
    right: -90px;
}
.one{
    display: flex;
    justify-content: space-around;
    gap:20px;
}
.content_checkout{
    position: relative;
    top: -120px;
    right: -40px;
}
    
    
.content_chek-both{
    display: flex;
    justify-content: space-around;

}
.content_chek-both input{
   width: 211px;
   height: 75px;
   flex-shrink: 0;
   border-radius: 10px;
border: 1px solid #9F9F9F;
background: #FFF;}


.content_chek-both input,p{
 font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 20px;
}

.label_section{
    line-height: 70px;
}
.right_content{
    display:flex;
    justify-content: space-around;
   gap: 190px;
   position: relative;
   right: -350px;
   top:110px;
}
.right_contenth3{
    font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.right_content-second{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.right_contentp{
    color: #9F9F9F;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: 9px;
}
.subtotal_first{
    font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.right_contentb{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: 10px;
}
.subtotal{
    color: #B88E2F;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
top: 70px;

}
input{
    width: 453px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    background: #FFF;
    margin-bottom: 25px;}
.clearfix {
    overflow: auto;
  }
.containerone{
    position: relative;
    bottom: -300px;
    right: 570px;
}
.Bank_tr{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bank_p{
    color: #9F9F9F;
text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
position: relative;
top: 10px;
}
.last{
    text-align: justify;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.button{
    width: 318px;
height: 64px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #000;
background-color: #fff;
font-size: 20px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}



/* footersection */
.services{
    width: 100%;
    height: 300px;
    background: #FAF4F4;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_container{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

}
.free, .return, .payment{
    margin: 0 10%;
}
.services_container h2{
    font-size: 35px;
    font-weight: 500;
}
.services_container p{
    line-height: 30px;
    font-size: 20px;
}
footer{
    width: 80%;
   
    height: 300px;
    margin: 2% 0;
    margin-left: 10%;
}
.footer{
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: 510px 200px 200px 350px;
    justify-content: center;
}
.footer li{
    list-style: none;
    line-height: 60px;
}
.footer li a{
    text-decoration: none;
    color: black;
    transition: all .4s;
}
.footer li a:hover{
color: red;
}
.info, .links, .help, .newsletter{
    margin-right: 20%;    
}
.info{
    display: flex;
    align-items: center;
    line-height: 26px;
}
.decaration{
    text-decoration: solid;
}

.p_teg{

    margin: 60px 10%;
}
.p{
    color: var(--Pcolor);
}

