.container{
    width: 1300px;
    margin: 0 auto
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --Pcolor:#9F9F9F;
    
}
header{
    text-align: right;
    padding: 2.9%;
}
.nav{
    display: inline-block;
    margin-right: 5%;
    width: 520px;
}
.nav1{
    display: inline-block;
    margin-right: 5%;
    width: 400px;
}
.nav li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav1 li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav a, .nav1 a{
    transition: all .4s;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
header a:hover{
    color: rgb(118, 67, 67);
}
aside{
    width: 100%;
    height: 340px;
    background-image: url(./cartmedia/Rectangle\ 1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside a{
    color: black;
    text-decoration: none;
}
aside span{
    font-weight: 600;
}


.main_header{
    display: flex;
    justify-content: space-around;
}
.header_img{
    position: relative;
    top: -100px;
    width: 853px;
    height: 1000px;
   flex-shrink: 0;
}
.header_text{
    position: relative;
    top: 275px;
    right: -100px;
}
.header_text h1{
    color: #000;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header_text h6{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}
.first_page-two{
    position: relative;
    padding: 70px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    background-color: #FAF4F4;;
}
.first_page-left{
    padding-right: 110px;
}
.first_page-similar{
    position: relative;
    right: -190px;
    top: -170px;
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.first_page-small{
    position: relative;
    right: -160px;
    top: -180px;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom:  -110px;
}

