.container{
    width: 1400px;
    margin: 0 auto ;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --Pcolor:#9F9F9F;
    
}
header{
    text-align: right;
    padding: 2.9%;
}
.nav{
    display: inline-block;
    margin-right: 5%;
    width: 520px;
}
.nav1{
    display: inline-block;
    margin-right: 5%;
    width: 400px;
}
.nav li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav1 li{
    display: inline-block;
    margin-right: 15%;
    list-style: none;
}
.nav a, .nav1 a{
    transition: all .4s;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
header a:hover{
    color: red;
}

/* .first_page{
    background-color:#FBEBB5;;
}
.main_navigation{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: -350px;

}
.main_navigation_items{
    display: inline-block;
    padding: 25px;
    text-decoration: none;
}
.main_navigation_items a{
    
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */
.main_header{
    display: flex;
    justify-content: space-around;
    margin-bottom: -170px;
    background-color: #FBEBB5;
}
.header_img{
    position: relative;
    top: -100px;
    width: 853px;
    height: 1000px;
   flex-shrink: 0;
}
.header_text{
    position: relative;
    top: 275px;
    right: -100px;
}
.header_text h1{
    color: #000;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header_text h6{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}
.first_page-two{
    position: relative;
    padding: 70px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    background-color: #FAF4F4;;
}
.first_page-two h4{
    position: relative;
    right:-190px ;
    top: -230px;
}
.first_page-left{
    padding-right: 110px;
}
.first_page-similar{
    position: relative;
    right: -190px;
    top: -170px;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.first_page-small{
    position: relative;
    right: -110px;
    top: -180px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: -90px;
     
}
.clearfix{
    overflow: auto;
}

.third_section{
    position: relative;
    margin-top: -30px;
    background-color:#fff;
}
.third_page-info{
    position: relative;
    text-align: center;
    top: 70px;
}
 .third_page-info h1{
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.img_section-third{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 25px;
    top: 30px;
}
.third_img-one{
    position: relative;
    top: 50px !important;
}
.text_section-third{
    position: relative;
    top: 5px;
    display: flex;
    gap: 20px;
    right: -90px;
    justify-content: space-around;

}

.text_section-third,p{
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.text_section-third,h5{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.third_last-word,h6{
    position: relative;
    top: 55px;
    right: -60px;
    font-size:20px;
    text-align: center;
    }
.four_section{
    position: relative;
    top: 90px;
    display: flex;
    justify-content: space-around;
    background-color: #FFF9E5;;
}
.four_img_section img{
    width: 683px;
    height: 599px;
    flex-shrink: 0;
}
.four_text_section{
    position:relative;
    top:180px;
}
.four_text_section,h3{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: -50px;
    bottom: -30px;
}
.four_text_section,h2{
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    right: 30px;
    
    
}
.four_text_section span{
    border: 1px solid grey;
    padding: 15px 25px;
    border-radius: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    right: -30px;
    
}
.fife_first-page{
    position: relative;
    top: 150px;
    
}
.fife_first-page{
    position: relative;
    text-align: center;
    top: 70px;
}
 .fife_fife_first,h1{
    color: #000;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.under_fife-main{
    display: flex;
    justify-content: space-around;
    gap: 70px;
    position: relative;
    top:120px;
    right: 150px;
    
    
}
.fife_under{
    position: relative;
    top: -55px;
    right: 25px;
}
.fife_under img{
    color: grey;
    width: 12px;
    height: 12px;
}
.img_fife{
    
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-right: 0px;
    top: 30px;
}
.text_section-fife{
    position: relative;
    top: 35px;
    display: flex;
    gap: 10px;
    right: -140px;
    justify-content: space-around;
}

 .text_fife,p{
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    

}
.text_fife,h5{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 20px;
    top: -20px;
}

.third_last-word,h6{
    position: relative;
    top: 55px;
    left: -350px;
    }
    .container{
    width: 1200px;
    margin: 0 auto;
    }
.six_section img{
    position: relative;
    top: 160px;
   }
   .six_h1{
    position: relative;
    top: -209px;
    text-align: center;
    font-size: 75px;

   }
   .six_p{
    color: #000;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }
   .six_p{
   color: #000;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.six_section button{
    position: relative;
    top: -30px;
    padding: 12px 50px;
    border-radius: 50px;
    background: #FAF4F4;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;

}
.six_section-img{
    position: relative;
    right: 170px;
    size: 500px;
    left: -70px;

}
footer{
    width: 80%;
   
    height: 300px;
    margin: 2% 0;
    margin-left: 10%;
}
.footer{
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: 510px 200px 200px 350px;
    justify-content: center;
}
.footer li{
    list-style: none;
    line-height: 60px;
}
.footer li a{
    text-decoration: none;
    color: black;
    transition: all .4s;
}
.footer li a:hover{
color: red;
}
.info, .links, .help, .newsletter{
    margin-right: 20%;    
}
.info{
    display: flex;
    align-items: center;
    line-height: 26px;
}
.decaration{
    text-decoration: solid;
}

.p_teg{

    margin: 60px 10%;
}
.p{
    color: var(--Pcolor);
}
   

